{% extends "converter/layout.html" %}
{% load static %}

{% block body %}

    <div class="index-convert-mp4-to-mp3">
        <h2 id="big-link"><a id="little-link" href="{% url 'convert' %}">Convert to MP3</a></h2>
    </div>

    <div id="all-mp3s">
    {% for mp3 in mp3s %}
        <div class="mp3">
            <audio id="audio-{{ mp3.id }}" src="{{ mp3.file_path }}" preload="auto"></audio>
            <h2 id="{{ mp3.user }}-{{ mp3.id }}">
                Posted by: <a href="{% url 'profile' mp3.user %}">{{ mp3.user }}</a>
            </h2><hr>
            <h4 class="mp3-link" id="mp3-{{ mp3.id }}">
                <span class="mp3-title">{{ mp3.title }}</span>
                <button class="btn btn-success download-btn" data-mp3-url="{{ mp3.file_path }}">Download</button>
            </h4>
            <div class="file-size">
                <span class="mp3-file-size">{{ mp3.file_size }} Mb</span>
                <div class="play-audio">
                    <button class="play-pause-btn" id="play-pause-{{ mp3.id }}"></button>
                    <input type="range" id="progress-bar-{{ mp3.id }}" value="0" max="100" step="1"><br>
                    <div>
                        <span id="current-time-{{ mp3.id }}">0:00</span> /
                        <span id="total-time-{{ mp3.id }}">0:00</span>
                    </div>
                </div>
            </div>
        </div>    
    {% endfor %}
    </div>
{% endblock %}