{% extends "converter/layout.html" %}
{% load static %}

{% block body %}
<form id="convert-form" method="POST" action="{% url 'convert' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="mp4_url">Enter Youtube URL:</label>
        <input type="url" id="mp4_url" name="mp4_url" class="form-control" placeholder="https://example.com/video" required>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="filename" placeholder="Optional: Filename">
    </div>
    <button id="convert-btn" type="submit" class="btn btn-success">Convert to MP3</button>
    <div id="spinner" class="spinner-border" role="status" style="display: none;">
        <span class="sr-only">Loadin...</span>
    </div>
</form>
{% endblock %}